
/* 육아일기 */
.diary-container { margin: 0 -20px; } 

/* 육아일기 - 일기 영역 */
.diary-container .diary-wrap { margin-top: 10px; border-top: 5px solid #f1f1f1; padding:15px 15px; } 
.diary-container .diary-wrap .date { font-size: 1em; color: #555; font-weight: 500; margin-bottom: 9px; } 
.diary-container .diary-wrap .title { font-size: 1.4em; color: #333; font-weight: 700; margin-bottom: 6px; } 
.diary-container .diary-wrap .text { font-size: 1.2em; color: #555; font-weight: 400; line-height: 1.4em; margin-bottom: 10px; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; } 
.diary-container .diary-wrap .images { display: flex; gap: 5px; } 
.diary-container .diary-wrap .images img { width: 20%; border-radius: 0px; } 

