#root{
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit;        /* 부모 요소의 텍스트 색상 상속 */
    cursor: pointer;       /* 클릭 시 포인터 커서 */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}