.gallery { padding: 15px; }
.gallery h3 { font-size: 14px; color: #555; margin-bottom: 10px; } 
.gallery-item { width: 100%; padding-top: 100%; background-color: #f78e1e; border-radius: 5px; position: relative; } 