button { border: none; outline: none; background-color: inherit; cursor: pointer; } 

.wrap { text-align: center; height: 100vh; /* 화면 높이를 100%로 설정 */
 display: flex; /* 가운데 정렬을 위한 플렉스 박스 */
 flex-direction: column; /* 세로 정렬 */
 justify-content: center; /* 중앙 정렬 */
 align-items: center; position: relative; } 
.title { color: var(--logo-color); font-size: 3.5em; padding-bottom: 2vh; } 
.subtitle { color: var(--logo-color); padding-bottom: 1.2vh; font-size: 1.3em; } 
.description { color: var(--logo-color); font-size: 1.29em; } 

.logo-text { text-align: left; /* 부모 요소의 텍스트를 왼쪽 정렬 */
 display: flex; /* 세로 정렬을 유지하면서 왼쪽 정렬을 위해 flexbox 사용 */
 flex-direction: column; /* 자식 요소들을 세로로 배치 */
 align-items: flex-start; } 
.logo-text h1 {
 font-size: 8vw; /* Responsive font size */
 color: #F57C00; font-weight: 900; } 

.kakao-button { display: flex; align-items: center; justify-content: center; cursor: pointer; background-color: #FEE500; width: 90vw; height: 6.2vh; border-radius: 12px; font-size: 1.2em; position: absolute; /* 카카오 버튼을 화면 하단에 고정 */
 transform: translateX(-50%); bottom: 3vh; } 

