.content-wrap { background-color: #F4F7FC; border-radius:10px; padding: 10px 10px 5px; }

.last-date { font-size: 0.9em; color: gray; margin-bottom: 5px; }
.highlight-text { font-size: 1.2em; font-weight: bold; color: #333; } 
.highlight-text .value-wrap { margin-top: 5px; display: flex; align-items: center; } 
.highlight-text .value-wrap b { font-size: 1.1em; color:#f78e1e; margin-right: 4px; }

.chart { margin-bottom: 20px; text-align: center; } 
