.tabs { display: flex; justify-content: flex-start; gap: 10px; margin-bottom: 20px; }
.tab { font-size: 16px;  padding: 5px 10px; color: #BBB; border-radius: 20px; cursor: pointer; border: 1px solid #BBB }
.tab.active { font-weight: 700;  background-color: #FFF5F3; color: var(--logo-color); border: 1px solid var(--logo-color) }
.content-wrap{background-color: #F4F7FC; border-radius:10px;padding: 2vh 2vw 0.5vh;
}
.status {
    color: var(--logo-color);
    background-color: #FFE1D7;
    border-radius: 10px;
    padding: 0.3vh 0.5vw;
    margin-right: 8px;
    font-size: 0.8em;
}

.section-title { font-size: 14px; color: gray; margin-bottom: 10px; }
.highlight-text { font-size: 16px; font-weight: bold; color: #333; margin-bottom: 20px; }
.chart { margin-bottom: 20px; text-align: center; }
