.date-range { text-align: center;font-size: 0.9em;  color: gray; }
.date-range b { color:#444; font-size: 1.1em; margin-bottom: 2px; display: block }

.report-content-wrap { background-color: #f8f8f8; border-radius: 8px; padding: 14px; }
.report-content-wrap .report-content { font-size: 1em; color: #333; line-height: 1.6; }

.analysis-section { background-color: #f8f8f8; border-radius: 8px; padding: 14px 14px 7px; margin: 10px 0; }
.analysis-section h3 { font-size: 14px; color: #333; margin-bottom: 5px; }

.map-section { margin-bottom: 20px;background-color: #f8f8f8; border-radius: 8px; padding: 14px; }
.map-section h3 { font-size: 14px; color: #333; margin-bottom: 10px; }

/*.map-section img { width: 100%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); } */

.review-box { display: flex; flex-direction: row; gap: 20px; }

.disabled-box, .enabled-box { width: 100%; height: 600px; border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; padding: 20px; margin: 0 auto; }

.disabled-box { background-color: #f0f0f0; color: #a0a0a0; }
.sufficient-data { background-color: #fff5e5; color: #ff6b00; border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; padding: 20px; }

.enabled-box { background-color: #fff5e5; color: #ff6b00; }

.icon-container { font-size: 48px; margin-bottom: 20px; height: 200px; }

.text { font-size: 16px; margin-bottom: 20px; font-weight: bold; }

.generate-button { color: #ff6b00; border: 1px solid #ff6b00; border-radius: 20px; padding: 5px 10px; cursor: pointer; }
.week-button { display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 10px; margin-bottom: 15px; }

.previous-week-button,
.next-week-button { background: none; border: none; padding: 0; cursor: pointer; }

.btn-week i { padding: 7px 9px 7px 7px; color: #333; }
.btn-week i:active { background-color: var(--background-color); border-radius: 50%; }

.previous-week-button img,
.next-week-button img { width: 35px; height: 30px; }
.lottie-timer { height: 200px; }


