.date-range { text-align: center; font-size: 14px; color: gray; margin-bottom: 20px; } 

.report-content { font-size: 14px; color: #333; line-height: 1.5; margin-bottom: 20px; } 

.analysis-section { margin-bottom: 20px; } 

.analysis-section h3 { font-size: 14px; color: #333; margin-bottom: 10px; } 

.progress-bar { display: flex; height: 10px; background-color: #f0f0f0; border-radius: 5px; overflow: hidden; margin-bottom: 10px; } 

.low-risk { background-color: #ff6b6b; width: 25%; } 

.high-risk { background-color: #ffa500; width: 60%; } 

.map-section { margin-bottom: 20px; text-align: center; } 

/*.map-section img { width: 100%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); } */

.review-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.disabled-box, .enabled-box {
    width: 400px;
    height: 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

.disabled-box {
    background-color: #f0f0f0;
    color: #a0a0a0;
}

.enabled-box {
    background-color: #fff5e5;
    color: #ff6b00;
}

.icon-container {
    font-size: 48px;
    margin-bottom: 20px;
    height: 200px;
}

.text {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.generate-button {
    color: #ff6b00;
    border: 1px solid #ff6b00;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}


