/* src/assets/styles/layout.css */

/* 전체 레이아웃 */
.layout { display: flex; flex-direction: column; min-height: 100vh; width: 100vw; } 

/* 콘텐츠 */
.layout .content { flex-grow: 1; } 

/* footer */
.layout .footer { background-color: #F9F9F9; text-align: center; } 
.layout .footer .footer-nav { display: flex; justify-content: space-around; } 
.layout .footer .footer-nav .nav-item { display: flex; flex-direction: column; justify-content: center; color: #949598; font-size: 0.6em; min-width: 12vw; margin: 1vh 3vw; padding: 1vh 1vw; } 
.layout .footer .footer-nav .nav-item.btn-active { background-color: #FE8A3C1F; color: #FF893C; border-radius:9px; } 
.layout .footer .footer-nav .nav-item svg { margin: auto; width: 7vw; } 