/* src/assets/styles/layout.css */

/* 전체 레이아웃 */
.layout { display: flex; flex-direction: column; min-height: 100vh; width: 100vw; } 

/* 콘텐츠 */
.layout .content { flex-grow: 1; } 

/* 중앙 컨테이너 스타일 */
.layout .container { background-color: white; width: 90%; max-width: 400px; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); } 

/* 헤더 스타일 */
.layout .container .header { display: flex; align-items: center; gap: 10px; margin-bottom: 20px; } 
.layout .container .header .profile-image { width: 40px; height: 40px; border-radius: 50%; background-color: #f0e68c; } 
.layout .container .header .header-title { font-size: 18px; } 
.layout .container .header .header-dropdown { font-size: 14px; color: gray; } 

/* footer */
.layout .footer { background-color: #F9F9F9; text-align: center; } 
.layout .footer .footer-nav { display: flex; justify-content: space-around; } 
.layout .footer .footer-nav .nav-item { display: flex; flex-direction: column; justify-content: center; color: #949598; font-size: 0.6em; min-width: 12vw; margin: 1vh 3vw; padding: 1vh 1vw; } 
.layout .footer .footer-nav .nav-item.btn-active { background-color: #FE8A3C1F; color: #FF893C; border-radius:9px; } 
.layout .footer .footer-nav .nav-item svg { margin: auto; width: 7vw; } 