/* src/components/common/Layout.css */
.progress-container { position: relative; width: 100%; margin:17px auto 10px; text-align: center; }
/* progress-bar */
.progress-container .progress-bar-container { height: 10px; background-color: #f0f0f0; border-radius: 10px; overflow: hidden; margin-bottom: 5px; }
.progress-container .progress-bar-container .progress-bar { height: 100%; background-color: #f78e1e; border-radius: 10px 0 0 10px; }
/* 라벨 */
.progress-container .progress-labels { display: flex; justify-content: space-between; margin-bottom: 10px; color: #8a8a8a; font-size: 14px; }
.progress-container .progress-labels .progress-label { font-size: 1em; display: inline-block; width: 60px; }
