/* 키/몸무게 */
.menu_diarywrite .section .input-row { display: flex; align-items: center; gap: 5px; margin-bottom: 15px; } 

/* 사진/영상 */
.menu_diarywrite .section { margin-top: 15px; } 
.menu_diarywrite .section.record-size { margin-top: 0; } 
.menu_diarywrite .section label small { color:#777; margin-left: 5px; font-size: 0.75em; font-weight: 400; margin-bottom: -5px; } 
.menu_diarywrite .section .upload-image-box { display: flex; justify-content: left; gap: 10px; } 
.menu_diarywrite .section .upload-box { position: relative; display: flex; width: 20%; height: 70px; gap: 5px; border: 1px dashed #ddd; border-radius: 5px; display: flex; align-items: center; justify-content: center; color: #aaa; font-size: 24px; margin-bottom: 5px; overflow: hidden; }
.menu_diarywrite .section .upload-box img { width: 100%; }
.menu_diarywrite .section .upload-box .remove-button { position: absolute; top: 5px; right: 5px; background: rgba(0, 0, 0, 0.5); color: white; border: none; border-radius: 50%; width: 20px; height: 20px; display: flex; justify-content: center; align-items: center; font-size: 14px; cursor: pointer; }
.menu_diarywrite .section .upload-box .remove-button:hover { background: rgba(0, 0, 0, 0.7); } 
.menu_diarywrite .section .upload-box.add { display: flex; flex-direction: column; align-items: center; justify-content: center; color: #999; cursor: pointer; } 
.menu_diarywrite .section .upload-box.add .add-icon { font-size: 1.1em; color: #aaa; } 
.menu_diarywrite .section .upload-box.add .upload-count { font-size: 0.55em; color: #777; } 
.menu_diarywrite .section .upload-box:active { border-color: #ff893c; } 

/* 일기 */
.menu_diarywrite .section.record-content { margin-top: 10px; } 
.menu_diarywrite .content-len { float: right; color: #777; } 