/* 화면 전체 높이 */
.layout { display: flex; flex-direction: column; min-height: 100vh; width: 100vw; } 

/* 푸터 위로 확장 */
.content { flex-grow: 1; } 

.footer { background-color: #F9F9F9; text-align: center; } 
.footer .footer-nav { display: flex; justify-content: space-around; } 
.footer .footer-nav .nav-item { display: flex; flex-direction: column; justify-content: center; color: #949598; font-size: 0.6em; min-width: 12vw; margin: 1vh 3vw; padding: 1vh 1vw; } 
.footer .footer-nav .nav-item.btn-active { background-color: #FE8A3C1F; color: blue; border-radius:9px; } 
.footer .footer-nav .nav-item svg { margin: auto; width: 7vw; } 

