/* 날짜 이동 */
.calendar-wrap .date-navigator { display: flex; background-color: #f7f7f7f7; align-items: center; justify-content: center; position: relative; padding: 10px 0; } 
.calendar-wrap .date-navigator .nav-section { display: flex; align-items: center; font-size: 1.5em; } 
.calendar-wrap .date-navigator .nav-section .nav-button { border: none; background: none; margin: 0 15px; } 
.calendar-wrap .date-navigator .nav-section .nav-button i { padding: 7px 9px 7px 7px; color: #333; } 
.calendar-wrap .date-navigator .nav-section .nav-button i:active { background-color: var(--background-color); border-radius: 50%; } 
.calendar-wrap .date-navigator .nav-section .current-date { font-weight: 500; color: #333; } 
.calendar-wrap .date-navigator .today-button { font-size: 1em; color: #333; background: none; border: none; cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); padding: 4px 7px; border-radius: 20px; } 
.calendar-wrap .date-navigator .today-button:active { background-color: var(--background-color); } 

/* 달력 */
.calendar-wrap .calendar-grid { display: grid; grid-template-columns: repeat(7, 1fr); gap: 0.1rem;padding: 5px 5px 10px; }
/* .calendar-wrap .calendar-grid.weekdays { }  */
.calendar-wrap .calendar-grid .day { display: flex; justify-content: center; align-items: center; color: #888; font-weight: 400; padding: 5px 0; } 
.calendar-wrap .calendar-grid .date-cell { display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 4px 0; gap: 2px; } 
.calendar-wrap .calendar-grid .date-cell.selected .date-number { background-color: #1e90ff; color: white; } 
.calendar-wrap .calendar-grid .date-cell:not(.selected).today .date-number { color: #1e90ff; font-weight: 500; } 
.calendar-wrap .calendar-grid .date-cell.outside-month { visibility: hidden; } 
.calendar-wrap .calendar-grid .date-cell .date-number { font-weight: 400; color: #222; font-size: 0.9rem; margin: 0 auto; text-align: center; border-radius: 11px; padding: 1px 8px; } 
.calendar-wrap .calendar-grid .date-cell .date-image-container { width: 2.6em; height: 2.6em; border-radius: 50%; background-color: #e7e7e7; display: flex; justify-content: center; align-items: center; } 
.calendar-wrap .calendar-grid .date-cell .date-image-container .date-image { width: 100%; height: 100%; border-radius: 50%; object-fit: cover; } 
.calendar-wrap .calendar-grid .date-cell.future-date .date-image-container { background-color: #f7f7f7; } 